
@{
    ViewBag.Title = "Encuestas";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Encuestas</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Encuesta 1</h4>
                <p class="list-group-item-text">Dapibus ac facilisis in Morbi leo risus Porta ac consec</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Encuesta 2</h4>
                <p class="list-group-item-text">Dapibus ac facilisis in Morbi leo risus Porta ac consec</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Encuesta 3</h4>
                <p class="list-group-item-text">Dapibus ac facilisis in Morbi leo risus Porta ac consec</p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Encuesta 4</h4>
                <p class="list-group-item-text">Dapibus ac facilisis in Morbi leo risus Porta ac consec</p>
            </a>
        </div>
    </div>
</div>

